@font-face {
    font-family: "Raleway", sans-serif;
    src: url("fonts/raleway/raleway-800.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik", sans-serif;
    src: url("fonts/rubik/rubik-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik", sans-serif;
    src: url("fonts/rubik/rubik-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

body {
font-family: "Rubik", sans-serif;
font-size: 18px;
line-height: 167%;
font-weight: 400;
font-style: normal;
color: #000000;
background-color: #ffffff;
margin: 0;
margin-top: 40px;
display: flex;
flex-direction: column;
min-height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-container {
    flex-grow: 1;
}

/* Шапка */

.main-header {
    background-color: #FFE17F;
    color: #000000;
}

.main-header-wrapper {
    width: 1160px;
    margin: 0 auto;
    padding: 0 60px;
    padding: 43px 60px 38px;
    box-sizing: border-box;
}

.navigation {
    width: 1040px;
    display: flex;
    flex-wrap: wrap;
}

.navigation-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main-header__logo {
    display: block;
    position: absolute;
    top: -64px;
}

.logo:hover {
    opacity: 0.6;
}

.logo:active {
    opacity: 0.3;
}

.main-header__logo-link:focus .logo {
    outline: 2px solid #AF4FFF;
}

.main-header__logo-link {
    position: relative;
}

.navigation-search-form {
    display: flex;
}

.navigation-search {
    margin-right: 26px;
}

.search-input {
    width: 359px;
    border: 2px solid #000000;
    border-radius: 50px 0px 0px 50px;
    background-color: transparent;
    padding: 10px 0 10px 48px;
    height: 40px;
}

.search-input:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
}

.search-input:disabled {
    opacity: 0.3;
}

.search-input::placeholder {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #000000;
    opacity: 0.3;
}

.search-button {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 0px 20px 20px 0px;
    background-color: transparent;
    width: 160px;
    height: 40px;
    margin: 0;
    padding: 0;
    margin-left: -2px;
}

.search-button:disabled {
    opacity: 0.3;
}

.search-button:hover {
    background-color: #000000;
    color: #ffffff;
}

.search-button:active {
    color:rgba(255, 255, 255, 0.3)
}

.search-button:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
}

.navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 496px;
    margin-bottom: 30px;
}

.navigation-list .navigation-item:not(:first-child) {
    margin-right: 36px;
}

.navigation-list .navigation-item:nth-child(3n) {
    margin-right: 0;
}

.navigation-item-login {
    width: 231px;
    margin-right: auto;
}

.navigation-user {
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 1040px;
}

.navigation-user .navigation-item:first-child {
    margin-right: auto;
}

.navigation-user .navigation-item:not(:first-child) {
    margin-right: 45px;
}

.navigation-user .navigation-item:last-child {
    margin-right: 0;
}

.navigation-item {
    box-sizing: border-box;
}

.navigation-link:hover {
    opacity: 0.6;
}

.navigation-link:focus {
    outline: 2px solid #AF4FFF;
}

.navigation-link:active {
    opacity: 0.3;
    outline: none;
}

.navigation-link {
    position: relative;
    padding-left: 27px;
    text-decoration: none;
    color: #000000;
}

.navigation-link-logout {
    padding-left: 0;
    margin-left: 25px;
}

.navigation-link-logout--inactive {
    opacity: 0.3;
}

.navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.navigation-link .navigation-icon {
    right: auto;
    left: 0;
}



/* Слайдер */

.slider {
    margin-bottom: 70px;
}

.slider-wrapper {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    margin-top: -140px;
}

.slider-background {
    width: 1160px;
    background-color: #FFE17F;
    flex-grow: 1;
    height: 130px;
    padding: 0 60px;
    box-sizing: border-box;
    margin: 0 auto;
}

.slider-background-number {
    display: block;
    margin-left: auto;
}

.slider-button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.slider-button:hover {
    opacity: 0.6;
}

.slider-button:active {
    opacity: 0.3;
}

.slider-button:focus {
    outline: 2px solid #AF4FFF;
}

.slider-button-prev {
    position: relative;
    left: 30px;
}

.slider-photo-wrapper {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.slider-information-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 115px;
}

.slider-product-heading {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 100%;
    margin-bottom: 29px;
}

.slider-product-description {
    color: #444444;
    margin: 0;
    padding: 0;
    width: 560px;
    margin-bottom: 29px;
}

.slider-product-link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    margin-right: auto;
}

.slider-pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.slider-pagination-item:not(:last-child) {
    margin-right: 20px;
}

.slider-pagination-item button {
    vertical-align: middle;
}

.slider-pagination-wrapper {
    display: flex;
    margin-bottom: 49px;
}

.slider-pagination-button {
    background-color: #ffffff;
    outline: 2px solid #000000;
    outline-offset: -2px;
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    padding: 0;
}

.slider-pagination-button--active {
    background-color: #000000;
}

.slider-pagination-button:hover {
    opacity: 0.6;
}

.slider-pagination-button:active {
    opacity: 0.3;
}

.slider-pagination-button:focus{
    outline: 2px solid #AF4FFF;
}

.slider-product-settings {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.slider-product-setting {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.slider-product-setting:last-child {
    margin-right: 0;
}

.slider-product-characteristic {
    font-size: 36px;
    line-height: 83%;
}

.slider-product-characteristic-name {
    font-size: 16px;
    line-height: 188%;
    color: #444444;
}

/* Ссылки на страницы каталога */

.catalog-list {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    padding: 0;
}

.catalog-list {
    list-style-type: none;
}

.catalog-link {
    text-decoration: none;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 133%;
    color: #000000;
    width: 160px;
    box-sizing: border-box;
}

.catalog-icon-container {
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.catalog-link:hover .catalog-icon-container {
    background-color: #FFC700;
}

.catalog-link:active {
    opacity: 0.3;
}

.catalog-link:focus {
    outline: 2px solid #AF4FFF;
}

.catalog-item {
    width: 160px;
    margin-right: 40px;
}

.catalog-item:last-child {
    margin-right: 0;
}

.catalog-block {
    margin-bottom: 172px;
}

.navigation-user .navigation-link {
    padding-left: 0;
}

.navigation-link-catalog {
    display: flex;
    align-items: center;
}

.navigation-catalog-button {
    margin-left: 7px;
}

/* Доставка, гарантия, кредит */



.information-block-wrapper {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    position: relative;
    top: -40px;
}

.information-block {
    background-color: #F0F0F0;
    margin-bottom: 70px;
}

.information-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-right: 123px;
}

.information-item {
    margin-bottom: 35px;
    width: 280px;
    outline: none;
}

.information-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    padding: 10px 0 10px 4px;
    box-sizing: border-box;
    display: block;
}

.information-item-current .information-link {
    color: #FFE17F;
    background-color: #000000;
}

.information-item-current:hover .information-link {
    color: rgba(255, 225, 127, 0.5);
}

.information-item-current:active .information-link {
    color: rgba(255, 225, 127, 0.3);
}

.information-link:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 2px;
}

.information-item:last-child {
    margin-bottom: 0;
}

.information-description {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 452px;
    margin-right: 105px;
}

.information-heading {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
}

.information-description-text {
    color: #444444;
    margin: 0;
    padding: 0;
}

/* Подсказка по доставке */

.delivery-tip {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.delivery-tip-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.delivery-tip-link:hover .delivery-tip-icon {
    background-color: #FFC700;
}

.delivery-tip-link:active {
    opacity: 0.3;
}

.delivery-tip-link:focus {
    outline: 2px solid #AF4FFF;
}

.delivery-tip-icon {
    background-color: #FFE17F;
    overflow: inherit;
    padding: 35px 39px;
}

.delivery-tip-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    background-color: #F0F0F0;
    width: 1035px;
    text-align: center;
    padding: 40px 125px;
}

/* О компании */

.about-company-wrapper {
    width: 1160px;
    margin: 0 auto;
    display: flex;
}

.about-us {
    display: flex;
    flex-direction: column;
    width: 520px;
    margin-right: 108px;
}

.contacts {
    display: flex;
    flex-direction: column;
    width: 532px;
    margin-bottom: 70px;
}

.about-company-headings {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 47px;
    margin-bottom: 47px;
}

.about-company-text {
    color: #444444;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.about-company-adress {
    margin-bottom: 0;
}

.about-company-worktime {
    margin-bottom: 0;
}

.about-company-list {
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.about-company-item:not(:last-child) {
    margin-bottom: 19px;
}

.about-company-item::marker {
    color: #FFC700;
    font-size: 25px;
}

.about-company-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.contacts-subheading {
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: #444444;
    margin-bottom: 15px;
}

.contacts-phone-number {
    color: #444444;
    margin-bottom: 30px;
}

/* Рассылка */

.subscription {
    background-color: #F0F0F0;
}

.subscription-wrapper {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 64px 0 56px 0;
}

.subscription-heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 100%;
    width: 348px;
    margin-right: auto;
}

.subscription-text {
    color: #444444;
    width: 520px;
    margin: 0;
    padding: 0;
    margin-bottom: 144px;
}

.subscription-input {
    background-color: transparent;
    width: 557px;
    border: none;
    border-bottom: 3px solid #C4C4C4;
    padding: 11px 0 14px 16px;
    height: 55px;
    box-sizing: border-box;
}

.subscription-input::placeholder {
    font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 167%;
color: #444444;
opacity: 0.5;
}

.subscription-input:focus {
    background-color: #DCDCDC;
    outline: none;
}

.subscription-input:invalid {
    border-color: #FF3D3D;
}

.subscription-button {
    font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-transform: uppercase;
color: #000000;
background-color: transparent;
border: 3px solid #CECECE;
padding: 18px 39px;
height: 55px;
box-sizing: border-box;
outline: none;
}

.subscription-button:hover {
    border-color: #000000;
}

.subscription-button:active {
    opacity: 0.3;
}

.subscription-button:focus {
    outline: 2px solid #AF4FFF;
    outline-offset: 1px;
}

.subscription-form {
    display: flex;
    margin-right: auto;
}

.subscription-tip {
    color: #444444;
    background-image: url("../images/subscription-icon.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    align-self: center;
    background-position: center left;
    padding-left: 32px;
}

/* Подвал */

.main-footer {
    background-color: #444444;
    color: #ffffff;
}

.footer-wrapper {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 62px 0;
    align-items: flex-end;
}

.footer-logo-adress-wrapper {
    width: 239px;
    margin-right: 112px;
}

.footer-logo {
    margin-bottom: 35px;
}

.footer-logo:hover {
    opacity: 0.6;
}

.footer-logo:active {
    opacity: 0.3;
}

.main-footer a {
    color: #ffffff;
}

.footer-navigation-list {
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
font-weight: 800;
line-height: 21px;
letter-spacing: 0.2em;
text-transform: uppercase;
margin: 0;
padding: 0;
display: flex;
flex-wrap: wrap;
width: 464px;
margin-right: 166px;
}

.footer-socials-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-navigation-item:not(:nth-child(3n)) {
    margin-right: 35px;
}

.footer-adress {
    font-size: 16px;
line-height: 125%;
margin: 0;
padding: 0;
}

.footer-navigation-link {
    text-decoration: none;
}

.main-footer a:hover {
    color: #FFC700;
}

.main-footer a:active {
    opacity: 0.3;
}

.main-footer a:focus {
    outline: 2px solid #AF4FFF;
}

.footer-phone {
    font-size: 16px;
line-height: 125%;
}

.footer-academy-link {
    margin-left: 390px;
    margin-top: 62px;
}

.footer-socials-link {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.footer-socials-link svg {
    margin: auto auto;
}

.footer-socials-link:hover {
    background-color: #FFC700;
}

.footer-socials-link:active svg {
    opacity: 0.3;
}

.main-footer .footer-socials-link:active {
    opacity: 1;
}

.footer-socials-item:not(:last-child) {
    margin-right: 15px;
}

/* Страница каталога */

.catalog-products {
    background-color: #F0F0F0;
}

.catalog-products-wrapper {
    width: 1160px;
    margin: 0 auto;
    display: flex;
}

.catalog-right-column {
    width: 840px;
}

.breadcrumbs-container {
    width: 1080px;
    margin: 0 auto;
    padding: 35px 0;
}

.inner-header-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 100%;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}

.breadcrumbs {
    list-style-type: none;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-item::after {
    position: absolute;
    content: "";
    background-image: url("../images/breadcrumbs-arrow.svg");
    background-repeat: no-repeat;
    width: 4px;
    height: 7px;
    top: 6px;
    right: 16px;
}

.breadcrumbs-item:last-child::after {
    content: none;
}

.breadcrumbs-item:not(:last-child) {
    padding-right: 36px;
}

.breadcrumbs-link {
    text-decoration: none;
    color: #000000;
}

.breadcrumbs-link:hover {
    opacity: 0.6;
}

.breadcrumbs-link:active {
    opacity: 0.3;
}

.breadcrumbs-link:focus {
    outline: 2px solid #AF4FFF;
}

/* Фильтр и сортировка */

.filter-wrapper {
    width: 320px;
}

.sorting-wrapper {
    width: 840px;
    display: flex;
    padding: 25px 40px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.sorting-buttons-container {
    display: flex;
}

.sorting-button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sorting-icon {
    opacity: 0.2;
}

.sorting-button:hover .sorting-icon {
    opacity: 0.5;
}

.sorting-button:active .sorting-icon {
    opacity: 1;
}

.sorting-button:focus {
    outline: 2px solid #AF4FFF;
}

.filter-sorting-heading {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
text-transform: uppercase;
}

.catalog-filter-title {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.catalog-filter-list {
    list-style-type: none;
}

.catalog-filter-button {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
border: none;
background-color: #ffffff;
}

.select-control {
    font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 167%;
color: #000000;
border: none;
background-color: #F0F0F0;
}

.select-control:hover {
    opacity: 0.6;
}

.select-control:active {
    opacity: 0.3;
}

.select-control:focus {
    outline: 2px solid #AF4FFF;
}

.control-input {
    font-size: 16px;
    line-height: 19px;
}

/* Карточки товара */

.product-card-list-wrapper {
    background-color: #ffffff;
    padding: 70px 40px 78px;
}

.product-card-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 44px;
    display: grid;
    grid-template-columns: 360px 360px;
    row-gap: 44px;
    column-gap: 40px;
}

.product-card-image {
    display: block;
    margin-bottom: 32px;
    object-fit: contain;
}

.product-card-title {
    width: 195px;
}

.product-card-link {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
line-height: 111%;
letter-spacing: -0.02em;
display: flex;
flex-wrap: wrap;
}

.product-card-price {
    font-weight: 400;
line-height: 21px;
color: #444444;
margin-left: auto;
}

.product-show-more {
    font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
background-color: #ffffff;
width: 760px;
padding: 18px 0;
border: 3px solid #e5e5e5;
box-sizing: border-box;
margin-bottom: 44px;
}

.product-show-more:disabled {
    opacity: 0.3;
}

.product-show-more:hover {
    border-color: #000000;
}

.product-show-more:active {
    opacity: 0.3;
}

.product-show-more:focus {
    outline: 2px solid #AF4FFF;
}



/* Пагинация */

.pagination-wrapper {
    padding: 15px;
    width: 760px;
    box-sizing: border-box;
    background-color: #EBEBEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.pagination-button {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
line-height: 21px;
letter-spacing: 0.2em;
text-transform: uppercase;
}

.pagination-number {
    font-size: 16px;
line-height: 125%;
color: #444444;
opacity: 0.3;
padding: 10px;
display: block;
text-decoration: none;
}

.pagination-number:hover {
    opacity: 1;
}

.pagination-number:active {
    opacity: 0.1;
}

.pagination-number:focus {
    outline: 2px solid #AF4FFF;
}

.pagination-link {
    text-decoration: none;
    color: #000000;
    padding: 20px 23px;
}

.pagination-link:hover {
    background-color: #DCDCDC;
}

.pagination-link:active {
    opacity: 0.3;
}

.pagination-link:focus {
    outline: 2px solid #AF4FFF;
}